.widget {
    display: flex;
    flex-direction: column;

    .widget-icon {
        svg {
            width: var(--widget-icon-size);
            height: var(--widget-icon-size);
            stroke-width: 1.6;
            color: var(--body-text-color);
        }
    }

    .widget-header  {
        display: flex;
        align-items: center;
        gap: var(--spacing-sm);
        margin-bottom: calc(var(--spacing-sm) / 1.618);
    }
}

.widget.tagCloud {
    .tagCloud-tags {
        a[href*="/tags/"] {
            background: transparent !important;
            border: none !important;
            padding: 0 !important;
            box-shadow: none !important;
            border-radius: 0 !important;
            text-transform: lowercase;
            font-size: 1.4rem;
            margin-right: 0;
            display: inline-flex !important;
            align-items: center;

            text-decoration: none !important;
            color: var(--card-text-color-secondary) !important;

            box-shadow: 0px -2px 0px rgba(var(--link-background-color), var(--link-background-opacity)) inset !important;
            transition: all 0.3s ease !important;

            &::before {
                content: "#";
                margin-right: 0.05rem;
                color: inherit;
                display: inline-block;
            }

            &:hover {
                color: var(--accent-color-darker) !important; /* Turns into theme accent on hover */
                box-shadow: 0px calc(-1rem * var(--article-line-height)) 0px rgba(var(--link-background-color), var(--link-background-opacity-hover)) inset !important;
            }
        }
    }

    .tagCloud-count {
        color: var(--card-text-color-secondary); 
        margin-left: 0.5rem;
        opacity: 0.8;
        font-weight: normal;
        transition: color 0.3s ease;
    }
}

/* Tag cloud widget */
.tagCloud {
    .tagCloud-tags {
        display: flex;
        flex-wrap: wrap;
        gap: var(--spacing-sm);

        a {
            @include card-style;
            border-radius: var(--tag-border-radius);
            padding: 8px 20px;
            color: var(--card-text-color-main);
            font-size: 1.4rem;
            transition: box-shadow 0.3s ease;

            &:hover {
                box-shadow: var(--shadow-l2);
            }
        }
    }
}

/* Archives widget */
.widget.archives {
    .widget-archive--list {
        @include card-style;
    }

    .archives-year {
        &:not(:last-of-type) {
            border-bottom: 1.5px solid var(--card-separator-color);
        }

        a {
            font-size: 1.4rem;
            padding: 18px 25px;
            display: flex;

            span.year {
                flex: 1;
                color: var(--card-text-color-main);
                font-weight: bold;
            }

            span.count {
                color: var(--card-text-color-tertiary);
            }
        }
    }
}
