:root {
    --font-family: 'Gowun Batang', 'LXGW WenKai TC', var(--base-font-family), serif;
    --heading-font-family: 'Gowun Batang', 'LXGW WenKai TC', var(--base-font-family), serif;
    --article-font-family: 'Gowun Batang', 'LXGW WenKai TC', var(--base-font-family), serif;
}

body {
    font-family: var(--font-family);
}
